name: Flutter Web Deploy to Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter Web
        run: flutter build web --base-href /sattva_rituals/

      - name: Clean docs folder
        run: |
          rm -rf docs
          mkdir docs

      - name: Copy build to docs
        run: cp -r build/web/* docs/

      - name: Commit and push docs
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto deploy Flutter web to docs"
